 /* .all-landing-page-info{
  background-image: url("./SQ.png");
  background-repeat: no-repeat;
  background-position: right;
  opacity: .9
}  */

.Landing-Page-Pitch-display {
     height:100%;
padding: 20px; 
  border: 2px;
  border-style: outset;
  border-color: black;
  color: whitesmoke;
  background-color: #612469 !important
}
.tag{
    color: #612469
}