.all-landing-page-info {
    display: flex;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    max-width: 85%;
    margin:auto;
    padding: 20px;
    margin-top:50px;
    margin-bottom:50px;
    background-image: ("./mormonfamilyreunion.jpg");
    background-color: #e2e0e4;
    box-shadow:0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);}

.Landing-Page-Pitch-display {
    height: 100%;
    padding: 25px;
    transition: 0.3s;
    background-color: #612469 !important;
}

.tag {
    color: #612469;
}

img {
    widows: 100px;
    height:500px;
    margin: auto;
    image-rendering: pixelated;
    vertical-align: middle;
}
