#userProfile {
    text-align: center;
    background-color: #612469;
    border-color: black;
    color: whitesmoke;
    border-style: outset;
}

#mainProfilePhoto{
    height: 200px;
    margin-bottom: 10px;
}