#userProfile {
    margin-top: 20px;
    text-align: center;
    background-color: #612469;
    border-color: black;
    color: whitesmoke;
    border-style: outset;
}

#mainProfilePhoto{
    height: 200px;
}