.new-contact-display{
       width:75%;
margin: auto !important;
padding:50px;
border: 5px;
border-color: #612469;
border-style: groove

}
.contact-button, .back-to-contact-button{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px
}