.new-contact-display{
       width:50%;
margin: auto !important;
padding:50px;
border: 2px;
border-color: #612469;
border-style: inset

}
.contact-button, .back-to-login-button{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px
}