.new-user-display{
width:50%;
margin: auto !important;
padding:50px;
border: 20px;
border-color: #612469;
border-style: solid;
box-shadow:0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22)
}
.signup-button, .back-to-login-button{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px
}
.required{
    color:red

}